# Inspired by:
# https://github.com/nperez0111/bookhive/blob/main/.github/workflows/docker-build.yml

name: CI

on: [push, pull_request]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: erlef/setup-beam@v1
        with:
          elixir-version: '1.18'
          otp-version: '26'

      - name: Install dependencies
        run: mix deps.get

      - name: Check code format
        run: mix format --check-formatted

      - name: Run tests
        run: mix test

      - name: Run Dialyzer
        run: mix dialyzer --format github
