name: Validate BlockNote Snapshots

on: [push, pull_request]

permissions:
  contents: read

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: "~2.5"

      - name: Install Deno dependencies
        run: deno install --frozen
        working-directory: .ci

      - name: Validate BlockNote snapshots
        run: deno run --allow-env --allow-read .ci/main.ts ./test/snapshots/DocSpec.Writer.BlockNote/*/expected.json
